# SCD Type 3

SCD Type 3 stores both the current value and a limited number of previous values in the same row by adding new columns (e.g., current_dept, previous_dept). It preserves only partial history and is used when only the most recent change matters.

In [0]:
%sql
create database scd;

In [0]:
%sql
create table employee_stg (employee_id int primary key, name string, salary int, dept string);
create table employee (employee_id int primary key, name string, current_salary int, current_dept string,prev_salary int, prev_dept string );

In [0]:
%sql
insert into employee values(
  1,'Sanjay','30000','Sales',NULL,NULL),
  (2,'Vijay','45000','Sales',NULL,NULL),
  (3,'Akash','43000','IT',NULL,NULL),
  (4,'nakul','60000','Sales',NULL,NULL),
  (5,'preethi','55000','OP',NULL,NULL),
  (6,'hari','33000','OP',NULL,NULL)

In [0]:
%sql
select * from employee

![image_1770038588787.png](./image/image_1770038588787.png "image_1770038588787.png")

Above is the existing sample data in Dim employee and can be seen that the previous salry and dept are null as of now.

In [0]:
%sql
insert into employee_stg values
(1,'Sanjay','60000','IT'),
(2,'Vijay','55000','Admin'),
(7,'rahul','16000','SALES')

In [0]:
%sql
select * from employee_stg

![image_1770038848995.png](./image/image_1770038848995.png "image_1770038848995.png")

Above we can see one new record and 2 updated records.

Insert new records and update existing records to Employee Dimension

In [0]:
%sql
MERGE INTO employee AS dim
USING employee_stg AS stg
ON dim.employee_id = stg.employee_id
WHEN MATCHED THEN
  UPDATE SET dim.prev_salary = dim.current_salary,
             dim.prev_dept = dim.current_dept,
             dim.current_salary = stg.salary,
             dim.current_dept = stg.dept
WHEN NOT MATCHED THEN
INSERT (employee_id, name, current_salary,current_dept, prev_salary, prev_dept) VALUES (stg.employee_id, stg.name, stg.salary, stg.dept, NULL, NULL)

In [0]:
%sql
select * from employee

![image_1770039453231.png](./image/image_1770039453231.png "image_1770039453231.png")

It can be seen that new wmployee is added and for existing employee with updated salary and dept records in staging, the new data is updated to current and old is moved to previous salary and dept.